<template name="sixReasons">
  <div class="container">
    <br><h4 class="center">{{_ "6reasons"}}</h4><br>
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header">#1 {{_ "1reason"}}</div>
          <div class="collapsible-body"><img class="responsive-img" src="/target.png"><p>{{_ "1reasonDesc"}}</p></div>
        </li>
        <li>
          <div class="collapsible-header active">#2 {{_ "2reason"}}</div>
          <div class="collapsible-body"><img class="responsive-img" src="/Pad.png"><p>{{_ "2reasonDesc"}}</p></div>
        </li>
        <li>
          <div class="collapsible-header">#3 {{_ "3reason"}}</div>
          <div class="collapsible-body"><img class="responsive-img" src="/Organizing.png"><p>{{_ "3reasonDesc"}}</p></div>
        </li> 
        <li>
          <div class="collapsible-header">#4 {{_ "4reason"}}</div>
          <div class="collapsible-body"><img class="responsive-img" src="/Strategy.png"><p>{{_ "4reasonDesc"}}</p></div>
        </li> 
        <li>
          <div class="collapsible-header">#5 {{_ "5reason"}}</div>
          <div class="collapsible-body"><img class="responsive-img" src="/Steps.png"><p>{{_ "5reasonDesc"}}</p></div>
        </li>  
        <li>
          <div class="collapsible-header">#6 {{_ "6reason"}}</div>
          <div class="collapsible-body"><img class="responsive-img" src="/Economy.png"><p>{{_ "6reasonDesc"}}</p></div>
        </li>
      </ul>
  </div>
</template>