<template name="meist">
  <body>
  <html lang="en">
    {{> header}}
    {{> meieInfo}}
    {{> sixReasons}}
    {{> contactForm}}
    {{> footer}}
  </html>
  </body>
</template>

<template name="meieInfo">
 <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m12">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">polymer</i></h2>
            <h5 class="center">{{_ "whatWeDo"}}</h5>


            <p class="light">{{_ "whatWeDoDetails"}}</p> 
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m12">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">loop</i></h2>
            <h5 class="center">{{_ "whyWeDo"}}</h5>

            <p class="light">{{_ "whyWeDoDetails"}}</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m12">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">web</i></h2>
            <h5 class="center">{{_ "howWeDo"}}</h5>

            <p class="light">{{_ "howWeDoDetails"}}</p>
          </div>
        </div>
      </div>
     </div>

  </div>
</template>